<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <title>Simpler version of vue todo</title>
  </head>
  <body>
    <div class="container">
        <div class="banner"><img src="/images/bg-desktop-dark.jpg"></div>

      <div class="inner">
        <h1>TODO</h1>
        <div id="todo">
          <div v-if="remainingTasks <= 0">No remaining tasks</div>
          <div v-else-if="remainingTasks === 1">1 remaining task</div>
          <div v-else>{{ remainingTasks }} tasks remaining</div>
          <div class="input-bar">   <input
            type="text"
            v-model="addedTask"
            placeholder="type your task here..."
          />
          <div @click="addTask">Add task</div></div>
       
          <ul>
            <li
              @click.stop="completeTask(task)"
              :class="task.isComplete ? 'completed' : ''"
              v-for="(task, index) in tasks"
              :key="task.name"
            >
              {{ task.name }}
              <span @click="removeTask(index)" class="cross"></span>
            </li>
          </ul>
          <!-- filtering buttons below not functioning yet -->
          <div class="filter-bar">
            <div class="filter-item">All</div>
            <div class="filter-item">Active</div>
            <div class="filter-item">Completed</div>
            <div class="filter-item">Clear completed</div>  
          </div>
          <div v-if="remainingTasks === 0">
            <p>Congrats :)</p>
            <img
              src="https://media3.giphy.com/media/3ornjSBhRWTaL3l2X6/giphy.gif?cid=ecf05e4736qlwjy07qjsswn9mkn1mzyo3e1vuj9ga1f2pq2x&rid=giphy.gif&ct=g"
              alt="yayyy"
            />
          </div>
          <!-- <div v-else><img src="https://media1.tenor.com/images/dc542abacb25a0bdef5849c175f62951/tenor.gif?itemid=7398665" alt="todo"></div> -->
        </div>
      </div>
    </div>
  </body>
</html>
